In [2]:
import pandas as pd

In [22]:
pred = pd.read_csv("./Results/audio_pred_age_mean.csv")
ground = pd.read_csv("./parts_test_unmasked.csv")
pred.head()

   Unnamed: 0   0         1         2         3         4         5
0           0   8 -0.413023  0.318661 -0.198496  0.254389 -0.611412
1           1  56  0.242949 -0.142948  0.254305 -0.240118 -0.222700
2           2  66 -0.574139  0.512791 -0.103039  0.093711 -0.598716
3           3  67 -0.381117  0.584793 -0.184890  0.095253  0.052588
4           4  86  0.161049 -0.265454 -0.954321 -0.190624 -0.222700

In [24]:
print(pred.columns)
pred = pred.drop(['Unnamed: 0', '0'], axis = 1)
OCEAN = ['OPENMINDEDNESS_Z',
       'CONSCIENTIOUSNESS_Z', 'EXTRAVERSION_Z', 'AGREEABLENESS_Z',
       'NEGATIVEEMOTIONALITY_Z']

pred.columns = OCEAN

Index(['Unnamed: 0', '0', '1', '2', '3', '4', '5'], dtype='object')

In [25]:
dropcols = ['ID','GENDER', 'AGE', 'COUNTRY', 'EDUCATION', 'NUM_SESSIONS', 'SESSION1', 'SESSION2',
       'SESSION3', 'SESSION4', 'SESSION5']

ground.drop(dropcols, axis = 1, inplace=True)

In [26]:
ground.head()

,OPENMINDEDNESS_Z,CONSCIENTIOUSNESS_Z,EXTRAVERSION_Z,AGREEABLENESS_Z,NEGATIVEEMOTIONALITY_Z
0,0.209353,1.698023,0.717403,0.627602,-0.312424
1,0.840368,-0.600953,-1.654197,-0.082350,0.817512
2,0.209353,-0.465719,-0.231237,-0.259838,-0.312424
3,0.051600,1.157087,0.559297,0.272626,-1.567907
4,-0.421661,0.886620,-0.389343,0.095138,-1.442359

In [27]:
pred.head()

,OPENMINDEDNESS_Z,CONSCIENTIOUSNESS_Z,EXTRAVERSION_Z,AGREEABLENESS_Z,NEGATIVEEMOTIONALITY_Z
0,-0.413023,0.318661,-0.198496,0.254389,-0.611412
1,0.242949,-0.142948,0.254305,-0.240118,-0.222700
2,-0.574139,0.512791,-0.103039,0.093711,-0.598716
3,-0.381117,0.584793,-0.184890,0.095253,0.052588
4,0.161049,-0.265454,-0.954321,-0.190624,-0.222700

In [28]:
sub = ground.subtract(pred)

In [29]:
sub.head()

,OPENMINDEDNESS_Z,CONSCIENTIOUSNESS_Z,EXTRAVERSION_Z,AGREEABLENESS_Z,NEGATIVEEMOTIONALITY_Z
0,0.622376,1.379361,0.915900,0.373213,0.298989
1,0.597419,-0.458005,-1.908502,0.157767,1.040212
2,0.783492,-0.978510,-0.128198,-0.353549,0.286292
3,0.432717,0.572295,0.744186,0.177373,-1.620496
4,-0.582711,1.152073,0.564977,0.285761,-1.219659

In [30]:
df = sub.mul(sub)

In [31]:
df = df.mean(axis = 1)

In [32]:
df.mean()

1.0032275008263027